*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: roboto, sans-serif;
}
#header{
    width: 100%;
    padding: 15px;

}
h1{
    color: #ED213A;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.menu{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

nav{
    align-items: center;
    justify-items: center;
}