*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: roboto, sans-serif;
}
#header{
    width: 100%;
    padding: 15px;

}
h1{
    color: #ED213A;  

}

.menu{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

nav{
    align-items: center;
    justify-items: center;
}

#hero{
    background: url(../images/cazador.jpg) no-repeat center;
    width: 100%;
    padding: 20px;
}

#matrix{
    width: 80%;
    padding: 25%;
}

.peliculas{
    width: 80%;
    padding: 5%;
}
 
#peliculas_accion{
    width: 100%;
    padding: 10vh;


}

#peliculas_comedia{
    width: 100%;
    padding: 10vh;
}

#peliculas_animacion{
    width: 100%;
    padding: 10vh;
}

.img{
    width: 25%;
    float: right;
    padding: 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

.descripcion{
    color:#fff;
    font-size: 4vh;
}
